@charset "utf-8";
@font-face {
    font-family: 'Cuprum';
    src: local(Cuprum), url('../fonts/Cuprum.otf') format('opentype');
    src: url('../fonts/Cuprum-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cuprum-Regular-webfont.woff') format('woff'),
		url('../fonts/Cuprum-Regular-webfont.ttf') format('truetype'),
		url('../fonts/Cuprum-Regular-webfont.svg#cuprumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:Cuprum;	
	background-color:#FAFAFA;
}

.body-net {
	background: url(../img/subtlenet2.png);
}

img {
	display: block;
	height: auto;
    max-width: 100%;
}
.logo-color {
	font-family: Cuprum;
	color: #990066
}
.logo-black {
	font-family: Cuprum;
	color: black
}

.dropdown-backdrop {
  position: static;
}

.jumbotron{
	margin-bottom: 0px;
	background-color:transparent;	
}

@media screen and (max-width: 400px){
.jumbotron{
	padding-left: 0;
	padding-right: 0;	
}	
} 

.jumbotron-title{
	padding-top:90px;
/*	background-image:url(../img/handwritten_math.png);
	background: url(../img/subtlenet2.png);*/
}

.marketing-slide{
/*	background-image: linear-gradient(to right, #FFF, #FFF, rgba(153, 0, 96, 0.2));
	background-color: rgba(153, 0, 96, 0.2);
	background-image: url(../img/mor_900_780.png);*/
	width:100%; 
	max-width:800px; 
	margin: 0 auto;
	padding-top:10px;
}
.marketing-slide p{
	font-size:120%;
	text-align:justify;
}
.marketing-slide img{
	margin-bottom: 2em;
	text-align:justify;
}

.marketing-slide-img-sm{
	width:92%; 
	margin:auto;
}
.about-text p{
	font-size:120%;
	text-align:justify;
}

.navbar-inverse {
background-color: #333;
border-color: #111;
}

.navbar-inverse .navbar-nav>.active>a{
	background-color:inherit;
}

.navbar-inverse .navbar-nav>.active>a:hover{
	background-color:inherit;
}
.navbar-nav li a {
	font-size: 115%;
}

.navbar-nav li.active a {
	background-color: inherit;
}

.navbar .brand {
	padding: 9px 20px 9px;
}
ul.sydelity {
	list-style-image: url('/Content/Images/logo_icon_30_24.png');
}

.btn {
	border-radius: 0px;
}

.btn:hover {
	-webkit-transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	border: none;
}

.btn-primary {
	background-color: rgba(152, 0, 102, 1);
	border: 1px solid rgba(152, 0, 102, 0.3);
}

.btn-primary:hover {
	background-color: rgba(152, 0, 102, 0);
	border: 2px solid rgba(152, 0, 102, 1);
	color:rgba(152, 0, 102, 1);
}

.btn-default, .btn-default:hover {
	background-color: #fff;
	border: 1px solid #ccc;	
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn-secondary{
	background-color: #390;
	background-image: linear-gradient(to bottom, #390, #0C3);
}
.btn-secondary:hover {
	background-image: none;
	background-color: #390;
}

.accordion-group-border{
/*	border: 5px solid rgba(152, 0, 102, 0.86);*/
	border: none;
}
.accordion-group{
	border: none;
}

.accordion-heading{
/*	background-color: rgba(152, 0, 102, 0.92);*/
	background-color: transparent;
	border-bottom: 1px solid;
	border-bottom-color: #990066;
	margin-bottom: 10px;
}

.accordion-heading-regression{
/*	background-color: #CC339A;*/
}

.accordion-heading-optimization{
/*	background-color: #CC5CA7;*/
}

.accordion-heading h2 a{
	color: black;
	text-decoration: none;
	margin-left: 20px;
}

.accordion-heading img{
	height:42px; 
}


.accordion-heading p{
	font-size:30px;
	color:#990066;
	
}

.accordion-heading p a{
	color:#990066;
	text-decoration: none;
	margin-left: 20px;
}

.accordion-toggle {
	padding-top: 20px; 
	margin-top: -20px;
}

.metro-surface{
	padding: 0;
	width: 100%;
}
.metro-table{
	width: 50%;
	margin: 0 auto;
}

.tile {
	font-family: Cuprum;
	background-size:100%;
	background-color: rgba(152, 0, 102, 0.92);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

	color: #FFF;
	cursor: default;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
/*	width: 120px;
	height: 100px;*/
	width: 40vw;
	height: 33vw;
/*	width:100%;
	height:82%;*/
	padding: 5px;
	font-size: 14px;
	margin: 2px;
}

@media screen and (min-width: 360px){
.tile {
	width: 150px;
	height: 130px;
	padding: 5px;
	font-size: 16px;
}
}
.tile:hover {
	-webkit-transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.9) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
	cursor:pointer;
	background-color: rgba(152, 0, 102, 1)
}

.tile-mor {
	background-image: url(../img/mor_150_130.png);
	background-color: rgba(152, 0, 102, 0.7)
}

.tile-logo {
	background-image: url(../img/logo_tile_150_130.png);
}
.tile-logo:hover{
	cursor: default;
}

.tile-regression {
	background-image: url(../img/regression_150_130.png);
	background-color: rgba(152, 0, 102, 0.7);
	text-align: right;
}

.tile-optimization {
	background-image: url(../img/optimization_150_130.png);
	background-color: rgba(152, 0, 102, 0.7)
}

.tile-contact {
	text-align:right;
	background-image: url(../img/envelop_color_150_140.png);
	background-color: transparent;
	border: 2px solid rgba(153,0,102,1);
	color: rgba(153,0,102,1);
}

.tile-contact:hover{
	background-color: transparent;
}

.tile-sm{
	width: 60px;
	height: 60px;
	background-color: #89BD00;
	display:inline-block;
	vertical-align: top;
	margin-top: 50px;
}

@media screen and (min-width: 400px){
.tile-sm {
	width: 90px;
	height: 90px;
}
}

.tile-sm:hover{
	cursor: default;
}

.tile-sm-accuracy{
	background-image: url(../img/accuracy_90_90.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 80%;
}

.tile-sm-speedup{
	background-image: url(../img/speedup_90_90.png);	
	background-repeat:no-repeat;
	background-position:center;
	background-size: 80%;
}

.tile-sm-portability{
	background-image: url(../img/portability_90_90.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 80%;
}

.tile-sm-security{
	background-image: url(../img/security_90_90.png);	
	background-repeat:no-repeat;
	background-position:center;
	background-size: 80%;
}
.tile-heading{
	float: left;
	width: 40px;
	height: 33px;
	margin-right: 15px;	
}


.feature-block{
	width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
    width: calc(100% - 110px);
	margin-left: 10px;
	display: inline-block;	
}

.feature-block p{
	font-size:100%;	
	text-align: justify;
}

.control-label{
	font-style:normal;	
}

.error {
    border: 1px solid #EB4040;
}

/*.valid {
    border: 2px solid #0C0;
}*/
.label-info{
	background-color:rgba(153,0,102,1);	
}
.label{
	font-size:80%;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;	
}
.label-marketing{
	font-family: Cuprum;
	background-color: transparent;
	border: 1px solid rgba(153,0,102,1);
	font-size: 100%;
	color: rgba(153,0,102,1);
	padding-top: 2px;
	padding-bottom: 2px;
	display:inline-block;
	margin-bottom: 2px;
}
.label-marketing-title{
	color: rgba(153, 0, 102, 1); 
	font-size:120%	
}

.close{
	font-size:30px;
	font-weight:normal;
	opacity:1;	
	color:white;
	text-shadow:none;
}
.close:hover, .close:focus {
	color: rgba(153,0,102,0.6);
}

.modal-header{
	background-color:#222;
	color:rgba(255,255,255,1)
}

.modal-body textarea {
	resize:vertical;
}

.panel-default>.panel-heading{
	background-color: transparent;
	border:none;
	font-size: 1.2em;
}

.panel{
	border-color: #906;
	border-width: 3px;
	background-color: transparent;
}
/*
.imagecontainer img:hover {
	background-image: url('Content/Images/bunny_logo_reduced.png');
}
figcaption{
	font-family:Cuprum;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:.05em;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg); 
}

.fadeOutInOut:hover {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    -ms-animation:spin4s linear infinite;
    animation:spin 4s linear infinite;
	background-color:red;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-ms-keyframes spin{ 100% { -ms-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes myfirst{
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes myfirst{
	from {opacity: 1;}
	to {opacity: 0;}
}
*/